html, body  {
    background-color: #191919;
}

h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.438em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.438em;
}

h2 {
	font-size: 3.0vh;
}

h3 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.063em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.438em;
}

p {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.438em;
}

blockquote {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.063em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.438em;
}

pre {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.688em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.438em;
}

#header {
    background-color: #000;
    color:#fff;
    overflow: hidden;
    position: fixed; 
    z-index: 999;
    top: 0; 
    width: 100%;
}

#header a,
#header a:hover,
#header a:visited
{
	color:#fff;
	text-decoration:  none;
	outline : none;
	border : 0;
}

#header-title {
	display: inline;
}

#footer {
    background-color: #000;
    color:#fff;
    overflow: hidden;
    position: fixed; 
    z-index: 999;
	bottom: 0; 
	left: 0;
	width: 100%;
	padding-bottom: 2em;
}

#footer a,
#footer a:hover,
#footer a:visited
{
	color:#fff;
	text-decoration:  none;
	outline : none;
	border : 0;
}

.main {
	color: #fff;
    margin-top: 9em; 
    position: relative;
    z-index: 99;
    background-color: #191919;
}

.main a,
.main a:visited {
	color:#fff;
	text-decoration:  none;
	outline : none;
	border : 0;
}

.main a:hover {
	text-decoration:  underline;
	color:#fff;
}

.artist-card {
	max-width:"18%";
}

.artist_image_overlay {
    background-color: rgba(50, 50, 50, 0.5);
	position: relative;
    text-align: center;
    color: white;
}

.artist-image {
	max-width: 100%; 
	width: 50.000em;
	margin: auto;
}
  
.artist-image::after {
	display: block;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #323232 100%);
	margin-top: -9.375em;
	height: 9.375em;
	width: 100%;
	content: '';
}

.track-artist-image {
	max-width: 100%; 
	width: 50.000em;
	margin: auto;
	opacity: 0.5;
}

.artist-image-text {
	text-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
}

.bottom-left {
    position: absolute;
    bottom: 0.500em;
    left: 1.000em;
}

.bar-chart {
	height: '1em' !important;
}

.last-fm-red-text {
	color:#ba0000;
	
}

.last-fm-red-text img {
	max-width: 100%;
	height: 1em;
	padding-right: 0.5em;
	padding-bottom: 0.2em;
}

.artist-body-text {
    color: #000;
    font-weight: bolder;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.sharedArtistsColumns {
    padding: 0em 7em 4em;
    color: #fff;
}

.card-header-footer {
	font-weight: medium;
	font-style: italic;
	font-size: 1.2vw;
}

.card-deck-background-section {
    position: relative;
    background-color: #000;
}

.share-networks-container {
	padding-bottom: 1em;
}

.share-network {
	vertical-align: top;
	display: inline-block;
	margin-right: 1.875em;
	text-align: center;
}
  
.share-network-button {
	cursor: pointer;
}

.share-network-button:hover:not(:active) {
	opacity: 0.75;
}

@media (max-width: 700px) {

	#header {
		padding: 1em 1em 0em;
	}

	#header-title {
		display: block;
	}

	.artist-card {
		max-width: 40%;
	}

	.share-networks-container {
		padding: 5em 2em 1em;
	}

	.sharedArtistsColumns {
		padding: 5em 2em 0em;
	}

	.display-1 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.0;
	}
	
	.display-2 {
		font-size: 2.75rem;
		font-weight: 300;
		line-height: 1.0;
	}

	.display-3 {
		font-size: 2.25rem;
		font-weight: 300;
		line-height: 1.0;
	}

	.d-4 {
		font-size: 1.75rem;
		font-weight: 300;
		line-height: 1.0;
	}
}

.github-corner:hover .octo-arm {
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,100%{
		transform:rotate(0)
	}20%,60%
	{
		transform:rotate(-25deg)
	}40%,80%
	{
		transform:rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm
	{
		animation:none
	}
	.github-corner .octo-arm
	{
		animation:octocat-wave 560ms ease-in-out
	}
}